.nav {
  background-color: #242424;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  height: 88px;
  font-size: 1.2rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.site-title {
  font-size: 2rem;
  text-decoration: none;
}

.nav li a.active {
  color: #ff9966;
}

.nav li a:hover {
  color: blue;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(39, 39, 202);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(39, 39, 202);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.post {
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  padding: 2rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: row;
  margin: 60px;
}

.btn_primary {
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  box-shadow: 1px 10px 2rem rgba(255, 94, 98, 0.5);
}

.btn_primary:hover {
  box-shadow: 0px 5px 1rem rgba(255, 94, 98, 0.5);
}

.btn_admin {
  background: linear-gradient(90deg, #4564b8, rgb(4, 4, 150));
  margin-top: 2rem;
  margin-left: 60px;
  padding: 0.8rem 1.5rem;
  box-shadow: 1px 10px 2rem rgba(137, 94, 255, 0.5);
}

.btn_admin:hover {
  box-shadow: 0px 7px 2rem rgba(13, 3, 41, 0.5);
}

.botunPrijava {
  margin: 10px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  box-shadow: 1px 10px 2rem rgba(255, 94, 98, 0.5);
}

.botunNatrag {
  margin: 10px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: linear-gradient(90deg, #4564b8, rgb(4, 4, 150));
  box-shadow: 1px 10px 2rem rgba(137, 94, 255, 0.5);
}

.modalPrijava {
  text-align: center;
  background-color: #ffffff;
  padding: 50px 60px 80px 60px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 60%;
  overflow-y: auto;
}

.modalPodaci {
  text-align: center;
  background: linear-gradient(90deg, #537beb, rgb(187, 202, 235));
  max-width: 80%;
  width: auto;
  max-height: 80vh;
  overflow-y: auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.modalPodaci input[type="text"],
.modalPodaci input[type="email"],
.modalPodaci input[type="date"],
.modalPodaci textarea,
.modalPodaci select {
  width: 100%;
  padding: 10px;
  margin: 0 0 40px 0;
  border: 1.5px solid #ced4da;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #ecf0f3;
  color: #3d4349;
  resize: none;
}

.modalPodaci input[type="text"]:focus,
.modalPodaci input[type="email"]:focus,
.modalPodaci textarea:focus,
.modalPodaci select:focus {
  outline: none;
  border-color: #80bdff;
}

.labelaModal {
  font-weight: bold;
  font-size: 1.2rem;
}

.modalPodaci select {
  font-size: 1rem;
}

.modalContainer {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.modalPrijava input[type="text"],
.modalPrijava input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1.5px solid #ced4da;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #ecf0f3;
  color: #3d4349;
}

.modalPrijava input[type="text"]:focus,
.modalPrijava input[type="email"]:focus {
  outline: none;
  border-color: #80bdff;
}

.polja {
  max-width: 600px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the content horizontally */
  padding: 0 30px;
}

.close {
  color: rgb(4, 4, 150);
  float: right;
  font-size: 38px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #f75403;
  text-decoration: none;
  cursor: pointer;
}

.postPredavac {
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  padding: 2rem 2rem 2rem 2rem;
  margin: 60px;
  width: 30rem;
  margin-left: 30rem;
  min-height: 500px;
}

.header {
  grid-column: 1 / span 2;
}

.nemaPodataka {
  color: rgb(39, 39, 202);
}

.sub-menu {
  cursor: pointer;
  list-style: none;
  position: absolute;
  left: 0;
  width: calc(100% - 4rem);
  background-color: rgb(0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0 2rem;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-height: 200px;
  height: 70px;
  font-size: 1.2rem;
  gap: 8rem;
  justify-content: center;
}

.sub-menu li a:hover {
  color: blue;
}

.sub-menu li a.active {
  color: #ff9966;
}

.below-nav {
  grid-column: 1 / -1;
  position: relative;
}

.custom-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 90px;
}

.custom-table th,
.custom-table td {
  padding: 18px;
  text-align: center;
}

.custom-table th {
  background-color: #0d0d83;
  color: white;
  text-align: center;
}

.custom-table tr:nth-child(even) {
  background-color: #f0e6e6;
}

.custom-table tr {
  background-color: #b0beec;
}

.custom-table tr:hover {
  background-color: rgb(26, 24, 24);
  color: white;
}
