:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: linear-gradient(90deg, #ff9966, #f39799);

  color-scheme: light dark;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
.container {
  display: grid;
  grid-template-columns: auto auto;
  background: linear-gradient(90deg, #ff9966, #f39799);
}

img {
  height: 100%;
  max-height: 350px;
  width: 25rem;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

h3 {
  margin: 0 0 0.5rem 0;
  color: #999;
  font-size: 1.25rem;
}

h1 {
  margin: 0 0 1rem 0;
  letter-spacing: 0.5px;
  color: #333;
  font-size: 2.2em;
  line-height: 1.1;
}

p {
  margin: 0 0 4.5rem 0;
  font-size: 1.2rem;
  line-height: 1.45;
  color: #333;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  border-radius: 40px;
  color: white;
  font-size: 1.2rem;
  transition: all 0.2s ease-in;
  text-decoration: none;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  margin: 10px;
  border-radius: 2px;
  border: none;
  font-size: 1rem;
}
